.app-container {
    text-align: center;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.user-card {
    text-decoration: none;
    color: inherit;
    border: 1px solid #ccc;
    padding: 15px;
  
width: 300px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
    background-color: white;
    
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}
